{% extends "articles/article_detail.html" %}
{% load fb_versions %}
{% block extrahead %}{{ block.super }}
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script> 
{% endblock %}

{% block smmeta %}
{% version_object article.hero 'large' as hero_large %}
	<meta property="og:title" content="{{ object.title|striptags }}">
{% if object.intro %}
	<meta name="description" content="{{ object.intro }}">
{% else %}	
	<meta name="description" content="{{ object.standfirst }}">
{% endif %}	
	<meta property='og:url' content='http://{{ site.domain }}{{ object.get_absolute_url }}'>
{% if object.hero_alt %}	
	<meta property='og:image' content="http://{{ site.domain }}{% version object.hero_alt 'large' %}">
{% else %}	
	<meta property='og:image' content="http://{{ site.domain }}{% version object.hero 'large' %}">
{% endif %}	
	<meta property="og:image:type" content="image/jpg">
	<meta property="og:image:width" content="{{ hero_large.width }}">
	<meta property="og:image:height" content="{{ hero_large.height }}">
	
	
	



	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@postrochester">
	<meta name="twitter:creator" content="@postrochester">
	<meta name="twitter:title" content="{{ object.title|striptags }}">
{% if object.intro %}
	<meta name="twitter:description" content="{{ object.intro }}">
{% else %}	
	<meta name="twitter:description" content="{{ object.standfirst }}">
{% endif %}	
{% if object.hero_alt %}
	<meta name="twitter:image:src" content="http://{{ site.domain }}{% version object.hero_alt 'small' %}">
{% else %}	
    <meta name="twitter:image:src" content="http://{{ site.domain }}{% version object.hero 'small' %}">
{% endif %}	
     <link rel="canonical" href="http://{{ site.domain }}{{ object.get_absolute_url }}">
  
	
{% endblock %}



{% block mapsidebar %}
<div class="mapwrap" intent in-standard-after="#authorship" in-mobile-before="#ender" in-tablet-before="#ender">
	<div id="sidemap">
	
	
	
	</div>
	<a class="mapcredits"href='https://www.mapbox.com/about/maps/' target='_blank'>Map: &copy; Mapbox &copy; OpenStreetMap</a>
</div>


{% block mapcode %}
{% if object.mapcode %}
	<script type="text/javascript"> 
	L.mapbox.accessToken = 'pk.eyJ1IjoiZHZwb3N0IiwiYSI6ImxPbmw3RFEifQ.hgjg33qNqNNFJrfZXu0lxw';
	{{ object.mapcode|safe }}
	</script>
{% endif %}

{% endblock %}




{% endblock %}



