<div class="brick ighead clearfix">
    <h2>Your Instagram Pictures</h2>

{% if realtime_igtags or realtime_iglocs %}
    <p>Share your images about this story:
    {% if realtime_igtags %}
            tag your pictures with <span class="igtags">{% spaceless %}
            {% if realtime_igtags.count = 1 %}
                <a href="https://instagram.com/explore/tags/{{ realtime_igtags.0 }}">#{{ realtime_igtags.0 }}</a>
             {% elif realtime_igtags.count = 2 %}
                <a href="https://instagram.com/explore/tags/{{ realtime_igtags.0 }}">#{{ realtime_igtags.0 }}</a> </span> or <span class="igtags">
                <a href="https://instagram.com/explore/tags/{{ realtime_igtags.1 }}">#{{ realtime_igtags.1 }}</a>,
             {% else %}
                {% for tag in realtime_igtags.all %}<a href="https://instagram.com/explore/tags/{{tag}}">#{{tag}}</a>{% spaceless %}
                    {% if forloop.last %}{% else %}
                        {% ifequal forloop.revcounter0 1 %}, or {% else %}, {% endifequal %}
                    {% endif %}{% endspaceless %}
                {% endfor %}
             {% endif %}{% endspaceless %}</span> 
    {% endif %}
    {% if realtime_igtags and realtime_iglocs %}
        or
    {% endif %}
    {% if realtime_iglocs %}
              use location{% spaceless %}
            {% if realtime_iglocs.count = 1 %}<span class="igtags">
                &nbsp;<i class="fa fa-map-marker"></i>{{ realtime_iglocs.0 }}
            {% elif realtime_iglocs.count = 2 %}s <span class="igtags">
               <i class="fa fa-map-marker"></i>{{ realtime_iglocs.0 }}</span> or <span class="igtags"><i class="fa fa-map-marker"></i>{{ realtime_iglocs.1 }}
            {% else %}s <span class="igtags">
               {% for loc in realtime_iglocs.all %}<i class="fa fa-map-marker"></i>{{loc}}{% spaceless %}
                   {% if forloop.last %}{% else %}
                       {% ifequal forloop.revcounter0 1 %}</span>, or <span class="igtags">  {% else %}, {% endifequal %}
                   {% endif %}{% endspaceless %}
               {% endfor %} 
            {% endif %}</span>{% endspaceless %}
    {% endif %} 
             and they will appear below!</p>
            
    
{% endif %}


{% if inactive_igtags %}
    <p>Real-time updates for <span class="igtags">
    {% if inactive_igtags.count = 1 %}
            <a href="https://instagram.com/explore/tags/{{ inactive_igtags.0 }}">#{{ inactive_igtags.0 }}</a>
    {% elif realtime_igtags.count = 2 %}
        <a href="https://instagram.com/explore/tags/{{ inactive_igtags.0 }}">#{{ inactive_igtags.0 }}</a> </span> and <span class="igtags"> 
        <a href="https://instagram.com/explore/tags/{{ inactive_igtags.1 }}">#{{ inactive_igtags.1 }}</a>
    {% else %}
        {% for tag in inactive_igtags.all %}<a href="https://instagram.com/explore/tags/{{tag}}">#{{tag}}</a>{% spaceless %}
            {% if forloop.last %}{% else %}
                {% ifequal forloop.revcounter0 1 %}, </span> and <span class="igtags"> {% else %}, {% endifequal %}
            {% endif %}{% endspaceless %}
        {% endfor %}
    {% endif %}</span>are closed, but some images with these tags appear below.

    </p>
{% endif %}

{% if inactive_iglocs %}
    <p>Real-time updates for <span class="igtags">
    {% if inactive_iglocs.count = 1 %}
            <i class="fa fa-map-marker"></i>{{ inactive_iglocs.0 }}
        {% elif inactive_iglocs.count = 2 %}
           <i class="fa fa-map-marker"></i>{{ inactive_iglocs.0 }} </span> and <span class="igtags"> <i class="fa fa-map-marker"></i>{{ inactive_iglocs.1 }}
        {% else %}
           {% for loc in inactive_iglocs.all %}<i class="fa fa-map-marker"></i>{{loc}}{% spaceless %}
               {% if forloop.last %}{% else %}
                   {% ifequal forloop.revcounter0 1 %},</span> and <span class="igtags">{% else %}, {% endifequal %}
               {% endif %}{% endspaceless %}
           {% endfor %} 
        {% endif %}</span>are {% if inactive_igtags and inactive_iglocs %}also {% endif %} closed, but some images from these locations appear below.

    </p>
{% endif %}




 
     {% if user.is_authenticated %}
        {% for tag in object.igtag_set.all %} 
            <a href="{% url "search_media" tag.tag %}" class="btn btn-primary pcta">Refresh {{tag}}</a>
        {% endfor %}
     {% endif %}
</div>

<div class="ig brick clearfix">
{% if media_list %}
     <ul id="igul">
        {% for ig in media_list %}
            <li class="igbox">
                <div class="ig_user">
                {% if user.is_authenticated %}
                <a class="hider" href="{% url "hide_media" ig.insta_id %}"><i class="fa fa-times fa-lg"></i></a>
                {% endif %}
                    <img class="igprof" src="{{ ig.profile_picture }}">
                    <span><a href="https://instagram.com/{{ ig.username }}">{{ ig.username }}</a></span>
                </div>
                <a href="{{ ig.link }}"> <img class="ig_std" src="{{ ig.standard_resolution }}"></a>
                <div class="ig_user">{{ ig.caption_text }}</div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>[There's nothing here yet.  Be the first to tag a photo!]</p>
{% endif %}
</div>